<h3>Add a new activity</h3>
<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="title">Title</label>
      <input
        id="title"
        name="title"
        type="text"
        placeholder="El título de la actividad"
        formControlName="title"
        [attr.aria-invalid]="form.controls['title'].invalid"
      />
      <small *ngIf="form.controls['title'].errors">{{
        form.controls["title"].errors | json
      }}</small>
    </div>
    <div>
      <label for="location">Location</label>
      <input
        id="location"
        name="location"
        type="text"
        placeholder="El lugar de la actividad"
        formControlName="location"
        [attr.aria-invalid]="form.controls['location'].invalid"
      />
      <small *ngIf="form.controls['location'].errors">{{
        form.controls["location"].errors | json
      }}</small>
    </div>
    <div>
      <label for="price">Price</label>
      <input
        id="price"
        name="price"
        type="number"
        formControlName="price"
        [attr.aria-invalid]="form.controls['price'].invalid"
      />
      <small *ngIf="form.controls['price'].errors">{{
        form.controls["price"].errors | json
      }}</small>
    </div>
    <div>
      <label for="ageCategory">Age Category</label>
      <select id="ageCategory" name="ageCategory" formControlName="ageCategory">
        <option *ngFor="let a of ageCategories" [value]="a.id">
          {{ a.icon }} {{ a.caption }}
        </option>
      </select>
    </div>
  </fieldset>
  <button (click)="onSubmit()" [disabled]="form.invalid">Add activity</button>
</form>
<pre>
  {{ form.value | json }}
  VALID: {{ form.valid | json }}
</pre>
